In [3]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

ages.sort()
print(ages)
print("Minimum age = " + str(ages[0]))
print("Maximum age = " + str(ages[-1]))

ages.append(ages[0])
ages.append(ages[-2])
print(ages)

print("Median = " + str(ages[len(ages)//2-1]))
print("Average = " + str(sum(ages)/len(ages)))
print("Range = " + str(ages[-1]-ages[0]))

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minimum age = 19
Maximum age = 26
[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Median = 24
Average = 22.75
Range = 7

In [3]:
dog = {}
dog = {"name":"Brodie", "color":"Gold", "bread":"Golden Retriver", "legs":"4", "age":"2"}


student= {"first_name":"Vinitha",
          "last_name":"Patel",
          "gender":"Female",
          "age":"25",
          "martial status":"Single",
          "skills":['Problem Solving'],
          "country":"India",
          "city":"Guntur",
          "address":"Tenali"}

print("length of student = " + str(len(student)))

print(type(student['skills']))

student['skills'].extend(['Communication', 'Creativity', 'Leadership'])
print(student['skills'])

print("keys of student dictionary = " + str(student.keys()))

print("values of student dictionary = " + str(student.values()))

length of student = 9
<class 'list'>
['Problem Solving', 'Communication', 'Creativity', 'Leadership']
keys of student dictionary = dict_keys(['first_name', 'last_name', 'gender', 'age', 'martial status', 'skills', 'country', 'city', 'address'])
values of student dictionary = dict_values(['Viditha', 'Avuthu', 'Female', '25', 'Single', ['Problem Solving', 'Communication', 'Creativity', 'Leadership'], 'India', 'Guntur', 'Tenali'])

In [4]:
brothers = ("b1", "b2", "b3")
sisters = ("s1", "s2", "s3", "s4","s5")

siblings = brothers + sisters
print("no of sibling = " + len(siblings))
print(siblings)

family_member = ()
family_member += siblings + ("f1", "m1")

print("type: ",type(family_member))
print(family_member)

no of siblings: 8
('b1', 'b2', 'b3', 's1', 's2', 's3', 's4', 's5')
type:  <class 'tuple'>
family member:  ('b1', 'b2', 'b3', 's1', 's2', 's3', 's4', 's5', 'f1', 'f2')

In [9]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

print(len(it_companies))

it_companies.add("twitter")
print(it_companies)

it_companies.update(['Walmart', 'Accenture', 'BOFA'])
print(it_companies)

it_companies.remove('Accenture')
print(it_companies)

it_companies.discard('infosys')
print(it_companies)

print(A | B)
print(A & B)
print(A.issubset(B))
print(A.isdisjoint(B))

A.update(B)
print(A)
B.update(A)
print(B)

print(A.symmetric_difference(B))
A.clear()
B.clear()

print(len(age))
AgeSet = set(age)
print(len(AgeSet))

7
{'Apple', 'twitter', 'Microsoft', 'IBM', 'Oracle', 'Google', 'Amazon', 'Facebook'}
{'Accenture', 'Google', 'IBM', 'Microsoft', 'Oracle', 'Amazon', 'BOFA', 'Apple', 'twitter', 'Walmart', 'Facebook'}
{'Google', 'IBM', 'Microsoft', 'Oracle', 'Amazon', 'BOFA', 'Apple', 'twitter', 'Walmart', 'Facebook'}
{'Google', 'IBM', 'Microsoft', 'Oracle', 'Amazon', 'BOFA', 'Apple', 'twitter', 'Walmart', 'Facebook'}
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
True
False
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}
set()
8
5

In [19]:
r1 = 30

_area_of_circle_ = 3.14 * (r1**2)
_circumference_of_circle_ = 2 * 3.14 * r1

print("area = " + str(_area_of_circle_))
print("circumference = " + str(_circumference_of_circle_))

r2 = int(input("enter radius = "))
na = 3.14 * r2 * r2
print("Area from user input radius = " + str(na))

area = 2826.0
circumference = 188.4
enter radius = 5
Area from user input radius = 78.5

In [17]:
s = "I am a teacher and I love to inspire and teach people".split(' ')

print("number of unique words = " + str(len(set(list))))

number of unique words = 10

In [12]:
print("Name\t\tAge\t\tCountry\t\tCity\nAsabeneh\t250\t\tFinland\t\tHelsinki")

Name		Age		Country		City
Asabeneh	250		Finland		Helsinki

In [13]:
radius = 10
area = 3.14 * radius ** 2
print(f"The area of a circle with radius {radius} is {area} meters square.")

The area of a circle with radius 10 is 314.0 meters square.

In [21]:
lbs = [150, 155, 145, 148]
kgs = [x*0.453592 for x in lbs]
print(kgs)

[68.0388, 70.30676, 65.77083999999999, 67.131616]